.DS_Store
node_modules
/build
/.svelte-kit
/package
/build-dir
/.flatpak-builder
/repo
/balatro-mod-manager.flatpak
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/scripts/build_for_release.sh
/target

git-ignore/
aur-package/
